@charset "UTF-8";
@import url("https://hello.myfonts.net/count/2c65a6");
@-webkit-keyframes rainbow {
  0% {
    background: #E24842; }
  16% {
    background: #9E0EEA; }
  32% {
    background: #D1067D; }
  48% {
    background: #000CFF; }
  54% {
    background: #1D6643; }
  85% {
    background: #FFCD0D; }
  96% {
    background: #E86C0C; }
  100% {
    background: #E24842; } }
@keyframes rainbow {
  0% {
    background: #E24842; }
  16% {
    background: #9E0EEA; }
  32% {
    background: #D1067D; }
  48% {
    background: #000CFF; }
  54% {
    background: #1D6643; }
  85% {
    background: #FFCD0D; }
  96% {
    background: #E86C0C; }
  100% {
    background: #E24842; } }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.left {
  float: left; }

.right {
  float: right; }

.red {
  color: #E24842 !important; }
  .red:visited {
    color: #E24842; }
  .red svg > * {
    fill: #E24842; }

.green {
  color: #1D6643 !important; }
  .green:visited {
    color: #1D6643; }
  .green svg > * {
    fill: #1D6643; }

.blue {
  color: #000CFF !important; }
  .blue:visited {
    color: #000CFF; }
  .blue svg > * {
    fill: #000CFF; }

.green {
  color: #1D6643 !important; }
  .green:visited {
    color: #1D6643; }

.blue {
  color: #000CFF !important; }
  .blue:visited {
    color: #000CFF; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-white {
  color: white;
  -webkit-font-smoothing: antialiased; }

.hide {
  display: none; }

.visible {
  display: block; }

.highlight {
  background: #ffff99; }

.clearfix {
  *zoom: 1; }
  .clearfix:before {
    display: table;
    line-height: 0;
    content: ""; }
  .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both; }

.section-checkbox {
  margin: 26px; }

.no-margin-bottom {
  margin-bottom: 0; }

.margin-top {
  margin-top: 30px; }

.margin-bottom {
  margin-bottom: 30px; }

.half-margin-top {
  margin-top: 15px; }

.padding-right {
  padding-right: 30px; }

.padding-top-bottom {
  padding: 30px 0; }

.padding-side {
  padding: 0 30px; }

.italic {
  font-style: italic; }

.underline {
  border-bottom: 1px solid; }

.clearwrap {
  clear: both;
  overflow: hidden;
  margin: 20px 0; }

.center {
  margin: 0 auto; }

.columns {
  -moz-column-count: 3;
  -moz-column-gap: 30px;
  -webkit-column-count: 3;
  -webkit-column-gap: 30px;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px; }

@media (max-width: 767px) {
  .columns {
    -moz-column-count: 1;
    -moz-column-gap: 30px;
    -webkit-column-count: 1;
    -webkit-column-gap: 30px;
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px; } }
.space {
  padding: 30px; }

.space-sides {
  padding: 0 30px; }

.space-top {
  padding-top: 30px; }

.space-bottom {
  padding-bottom: 30px; }

.space-half {
  padding: 15px; }

.space-half-top {
  padding-top: 15px; }

.space-half-bottom {
  padding-bottom: 15px; }

.bordered {
  border: 1px solid; }

.border-bottom {
  border-bottom: 1px solid #c1c1c1; }

.border-right {
  border-right: 1px solid #c1c1c1; }

.border-bottom-dashed {
  border-bottom: 2px dashed #c1c1c1; }

.border-dashed {
  border: 2px dashed #c1c1c1; }

.note {
  font-size: 0.85em;
  color: #c1c1c1; }

@font-face {
  font-family: "AvantGardeGothicITCW01Bd";
  src: url("/assets/fonts/2C65A6_0_0.eot");
  src: url("/assets/fonts/2C65A6_0_0.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/2C65A6_0_0.woff2") format("woff2"), url("/assets/fonts/2C65A6_0_0.woff") format("woff"), url("/assets/fonts/2C65A6_0_0.ttf") format("truetype"), url("/assets/fonts/2C65A6_0_0.svg#wf") format("svg"); }
html {
  height: 100%;
  width: 100%;
  font-size: 19px; }

body {
  font-family: "leitura-news", serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  color: #111;
  background: white;
  width: 100%;
  height: 100%; }

a {
  color: #111;
  text-decoration: none;
  border-bottom: 1px solid; }
  a:hover {
    color: #999;
    text-decoration: none;
    cursor: pointer; }
  a:focus {
    outline: none; }
  a:visited {
    color: #111; }
  a img {
    border: none; }

img {
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }
  img:not([src]) {
    opacity: 0; }

#map_canvas img, #map_canvas object, #map_canvas embed {
  max-width: none; }

#googlemap img, object, embed {
  max-width: none; }

*:focus {
  outline: none; }

body:not(.landing) .too-small {
  visibility: hidden;
  position: fixed;
  left: -100%;
  bottom: 0;
  top: 0;
  width: 100%;
  background: #F1F1F1;
  -webkit-transition: 500ms ease-in;
          transition: 500ms ease-in;
  padding: 50% 0;
  text-align: center; }
  @media (max-width: 800px) {
    body:not(.landing) .too-small {
      left: 0;
      visibility: visible;
      z-index: 420420; } }

body.terms .too-small,
body.disclaimers .too-small {
  display: none !important; }

.btn-load-wrap {
  display: inline-block;
  position: relative; }

svg {
  height: 30px;
  width: 30px; }

p {
  margin: 0 0 15px; }

.lead {
  font-size: 1.2em; }

small {
  font-size: 0.85em; }

.monster {
  font-size: 150px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 600; }

strong {
  font-weight: 600; }

em {
  font-style: italic; }

cite {
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px 0;
  text-rendering: optimizelegibility;
  font-style: normal; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 0.65em;
    color: #999; }

h1 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  font-size: 5rem;
  line-height: 1; }

h2 {
  font-family: "leitura-news", serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.2; }

h3 {
  font-family: "leitura-news", serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.3; }

h4 {
  font-size: 1.125rem;
  line-height: 1.11111; }

h5 {
  font-size: 1rem;
  line-height: inherit; }

h6 {
  font-size: 0.875rem;
  line-height: inherit; }

@media (max-width: 43rem) {
  html {
    font-size: 16px; }

  h1 {
    font-size: 3rem; }

  h2 {
    font-size: 2rem; } }
@media (min-width: 43rem) and (max-width: 56rem) {
  html {
    font-size: 17px; } }
ul, ol {
  padding: 0;
  margin: 0 0 10px 20px; }

ul ul, ul ol {
  margin-bottom: 0; }

ol ol, ol ul {
  margin-bottom: 0; }

li {
  line-height: inherit;
  display: list-item; }

ul.unstyled, ol.unstyled {
  margin-left: 0;
  list-style: none; }

ul.inline {
  margin: 0 0 10px; }
  ul.inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

dl {
  margin-bottom: 20px; }

dt {
  font-weight: 600; }

dd {
  margin-left: 0; }

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #F1F1F1; }

blockquote {
  padding: 15px 0 15px 15px;
  font-size: 2.5rem;
  line-height: inherit; }
  blockquote span:first-of-type {
    margin-left: -25px; }
  blockquote p {
    margin-bottom: 0;
    text-indent: -0.55em; }
  blockquote cite {
    display: none;
    font-size: 0.8em;
    color: #999;
    display: block;
    margin-top: 15px;
    font-style: italic; }
    blockquote cite:before {
      content: "— "; }

q:before, q:after {
  content: ""; }

blockquote:before, blockquote:after {
  content: ""; }

.container {
  position: relative;
  max-width: 2500px;
  margin: 0 auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.container-site {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto; }
  .container-site:before, .container-site:after {
    content: " ";
    display: table; }
  .container-site:after {
    clear: both; }

.row:before, .row:after {
  content: " ";
  display: table; }
.row:after {
  clear: both; }

.half {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto; }

.third {
  max-width: 33.3%;
  margin-right: auto;
  margin-left: auto; }

.fourth {
  max-width: 25%;
  margin-right: auto;
  margin-left: auto; }

.col-2:before, .col-2:after, .col-3:before, .col-3:after, .col-4:before, .col-4:after, .col-5:before, .col-5:after, .col-6:before, .col-6:after, .col-8:before, .col-8:after, .col-12:before, .col-12:after {
  content: " ";
  display: table; }
.col-2:after, .col-3:after, .col-4:after, .col-5:after, .col-6:after, .col-8:after, .col-12:after {
  clear: both; }

.col-2 > * {
  float: left;
  width: 50%;
  display: block; }

.col-3 > * {
  float: left;
  width: 33.3%;
  display: block; }

.col-4 > * {
  float: left;
  width: 25%;
  display: block; }

.col-5 > * {
  float: left;
  width: 20%;
  display: block; }

.col-6 > * {
  float: left;
  width: 16.6%;
  display: block; }

.col-8 > * {
  float: left;
  width: 12.5%;
  display: block; }

.col-12 > * {
  float: left;
  width: 8.3%;
  display: block; }

@media (max-width: 767px) {
  .col-2 > *, .col-3 > *, .col-4 > *, .col-5 > *, .col-6 > *, .col-8 > *, .col-12 > * {
    float: none;
    width: 100%; } }
.column-padding {
  padding-right: 10px; }

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0; } }
@-webkit-keyframes rotateLoader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }
@keyframes rotateLoader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }
#loader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: white;
  z-index: 420000; }
  #loader .outer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: table; }
    #loader .outer .center-me {
      display: table-cell;
      vertical-align: middle; }
      #loader .outer .center-me span {
        height: 30px;
        width: 3px;
        background: #111;
        -webkit-animation: rotateLoader 1s infinite;
                animation: rotateLoader 1s infinite;
        display: block;
        margin: 0 auto; }

.homepage #siteWrapper {
  margin: 0;
  width: 100%;
  max-width: 100%; }

#siteWrapper {
  margin: 100px auto;
  width: 90%;
  max-width: 1700px; }

.content {
  padding: 200px 20px 20px;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto; }

.side {
  float: left;
  width: 30%; }
  .side h1 {
    margin-bottom: 30px; }
  .side h2 {
    margin-bottom: 30px; }
  .side a {
    text-decoration: none;
    border: none;
    color: #F1F1F1; }
    .side a:hover {
      color: #999; }
    .side a.active {
      color: #111; }

.main {
  float: left;
  width: 70%;
  padding: 0 0 0 30px; }

.sub {
  margin-bottom: 120px; }
  .sub:before, .sub:after {
    content: " ";
    display: table; }
  .sub:after {
    clear: both; }
  .sub header {
    height: 50px;
    position: relative; }
    .sub header:before, .sub header:after {
      content: " ";
      display: table; }
    .sub header:after {
      clear: both; }
    .sub header h3 {
      position: absolute;
      left: 0;
      margin: 0; }
    .sub header .actions {
      position: absolute;
      top: 0;
      right: 0; }
      .sub header .actions i {
        display: inline-block;
        cursor: pointer;
        color: #999;
        margin-left: 15px;
        -webkit-transition: 300ms ease-out;
                transition: 300ms ease-out; }
        .sub header .actions i:hover {
          color: #111; }
        .sub header .actions i.active {
          color: #111; }
          .sub header .actions i.active svg * {
            fill: #111; }
          .sub header .actions i.active[class*='add-'] svg * {
            fill: #111; }
          .sub header .actions i.active[class*='add-']:before, .sub header .actions i.active[class*='add-']:after {
            display: none; }
        .sub header .actions i svg {
          height: 30px;
          width: 30px; }
          .sub header .actions i svg * {
            fill: #999; }
            .sub header .actions i svg * * {
              fill: #999; }
  .sub .action-dropdown {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    -webkit-transition: 300ms ease-in;
            transition: 300ms ease-in; }
    .sub .action-dropdown.open {
      max-height: 1000px;
      padding: 0 0 15px 0; }
      .sub .action-dropdown.open > * {
        -webkit-animation: fadeIn 300ms ease-in;
                animation: fadeIn 300ms ease-in; }
    .sub .action-dropdown:not(.open) > * {
      -webkit-animation: fadeOut 300ms ease-in;
              animation: fadeOut 300ms ease-in; }
  .sub .sub-content table svg {
    height: 30px;
    width: 30px;
    cursor: pointer; }

table .tooltip a {
  border: none; }
table .tooltip svg {
  height: 30px;
  width: 30px;
  cursor: pointer; }
table .tooltip form:before, table .tooltip form:after {
  content: " ";
  display: table; }
table .tooltip form:after {
  clear: both; }

.fullbar {
  width: 100%;
  padding: 200px 20px 20px; }

@media(max-width:800px) {
  .col {
    float: none;
    width: 100% !important; }

  .spacer-block {
    display: none !important; } }
button,
a.btn,
input[type="submit"] {
  display: inline-block;
  margin-bottom: 0;
  font-weight: inherit;
  text-align: center;
  font-family: "proxima-nova", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 0;
  white-space: nowrap;
  background: #111;
  padding: 20px 50px;
  height: auto;
  -webkit-font-smoothing: antialiased;
  border-radius: 0;
  -webkit-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out; }
  button:focus, button:active:focus, button.active:focus,
  a.btn:focus,
  a.btn:active:focus,
  a.btn.active:focus,
  input[type="submit"]:focus,
  input[type="submit"]:active:focus,
  input[type="submit"].active:focus {
    outline: none; }
  button:hover, button:focus,
  a.btn:hover,
  a.btn:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    text-decoration: none;
    background: #373737;
    color: white;
    border: 0; }
  button:active, button.active,
  a.btn:active,
  a.btn.active,
  input[type="submit"]:active,
  input[type="submit"].active {
    outline: 0;
    background-image: none; }
  button.disabled, button[disabled], fieldset[disabled] button,
  a.btn.disabled,
  a.btn[disabled], fieldset[disabled]
  a.btn,
  input[type="submit"].disabled,
  input[type="submit"][disabled], fieldset[disabled]
  input[type="submit"] {
    cursor: not-allowed;
    opacity: 0.2; }
    button.disabled:hover, button[disabled]:hover, fieldset[disabled] button:hover,
    a.btn.disabled:hover,
    a.btn[disabled]:hover, fieldset[disabled]
    a.btn:hover,
    input[type="submit"].disabled:hover,
    input[type="submit"][disabled]:hover, fieldset[disabled]
    input[type="submit"]:hover {
      background: #111; }
  button.half,
  a.btn.half,
  input[type="submit"].half {
    max-width: 300px;
    float: left; }
  button.alt,
  a.btn.alt,
  input[type="submit"].alt {
    background: #999;
    color: white; }
    button.alt:hover,
    a.btn.alt:hover,
    input[type="submit"].alt:hover {
      background: gray; }
  button.hollow,
  a.btn.hollow,
  input[type="submit"].hollow {
    background: transparent;
    border: 0 solid #111;
    color: #111; }
    button.hollow:hover,
    a.btn.hollow:hover,
    input[type="submit"].hollow:hover {
      border-color: #111;
      color: #111;
      -webkit-font-smoothing: antialiased; }
  button.full,
  a.btn.full,
  input[type="submit"].full {
    display: block;
    width: 100%;
    margin: 10px 0; }
  button.sm,
  a.btn.sm,
  input[type="submit"].sm {
    padding: 10px 25px;
    height: auto; }
  button.small,
  a.btn.small,
  input[type="submit"].small {
    padding: 2px 12px;
    height: 21px;
    font-size: 0.8em; }
  button.lg,
  a.btn.lg,
  input[type="submit"].lg {
    padding: 18px 50px;
    height: 60px; }
  button.gray,
  a.btn.gray,
  input[type="submit"].gray {
    background: #999;
    color: #111; }
    button.gray:hover,
    a.btn.gray:hover,
    input[type="submit"].gray:hover {
      background: gray; }

.page-header {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid #111;
  height: 70px;
  background: white;
  background: rgba(255, 255, 255, 0.95);
  z-index: 3000; }
  .page-header h3 {
    margin: 0;
    position: absolute;
    left: 30px;
    top: 15px;
    font-size: 2em;
    font-weight: 400; }
    .page-header h3 > span {
      color: #999;
      -webkit-font-smoothing: antialiased; }
      .page-header h3 > span a {
        color: #999;
        border: none; }
        .page-header h3 > span a:hover {
          text-decoration: underline; }
  .page-header .page-actions {
    position: absolute;
    right: 30px;
    top: 16px; }
    .page-header .page-actions .sm {
      font-size: 1em;
      padding: 1px 15px;
      color: white; }
  .page-header .old-page-actions > a {
    border: 1px solid #999;
    background: #ababab;
    padding: 6px 15px;
    margin-left: 10px;
    display: inline;
    font-family: "proxima-nova", sans-serif;
    font-size: 0.8em;
    border-radius: 0;
    cursor: pointer; }
    .page-header .old-page-actions > a.save {
      background: #303030;
      border: 1px solid #111;
      color: white;
      -webkit-font-smoothing: antialiased; }
      .page-header .old-page-actions > a.save:hover {
        background: #232323; }
    .page-header .old-page-actions > a:hover {
      background: #a1a1a1; }
    .page-header .old-page-actions > a.active {
      border: 1px solid #7a7a7a;
      background: #878787;
      color: white;
      -webkit-font-smoothing: antialiased; }
      .page-header .old-page-actions > a.active:hover {
        background: #7a7a7a; }

.sm-logo {
  position: fixed;
  top: 10px;
  left: 30px;
  z-index: 600; }
  .sm-logo a {
    border: none; }
  .sm-logo svg {
    width: 102px;
    height: 33px; }

.main-header {
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 20px 0 0;
  -webkit-transition: 300ms ease-out;
          transition: 300ms ease-out;
  z-index: 300; }
  .main-header #mainNavWrapper {
    text-align: center;
    display: block;
    position: relative;
    top: -3px; }
    .main-header #mainNavWrapper nav > div {
      display: inline; }
      .main-header #mainNavWrapper nav > div a {
        text-decoration: none;
        margin: 0 10px;
        border: 0;
        color: #111;
        border: none; }
        .main-header #mainNavWrapper nav > div a.active {
          font-style: italic; }
    .main-header #mainNavWrapper .active a {
      border-bottom: 1px solid; }

.custom-cart {
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  position: fixed;
  right: 30px;
  z-index: 300; }
  .custom-cart a {
    border: none;
    color: #111; }
  .custom-cart.empty {
    display: none; }

#nav-toggle {
  position: fixed;
  right: 32px;
  top: 15px;
  display: block;
  padding: 20px 22px;
  z-index: 420000; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    height: 2px;
    width: 25px;
    background: black;
    position: absolute;
    display: block;
    content: "";
    top: 10px;
    right: 0; }
    #nav-toggle span:before,
    #nav-toggle span:before:before,
    #nav-toggle span:after:before {
      top: -6px; }
    #nav-toggle span:after,
    #nav-toggle span:before:after,
    #nav-toggle span:after:after {
      top: 6px; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out; }

#nav-toggle {
  display: none;
  opacity: 0; }

#mobile-overlay {
  visibility: hidden;
  position: fixed;
  opacity: 0;
  background: #111;
  z-index: 42000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 300ms ease-out;
          transition: 300ms ease-out; }
  #mobile-overlay a,
  #mobile-overlay a:visited {
    color: white; }

#mobileNavWrapper {
  text-align: center;
  padding: 100px 30px;
  opacity: 0;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 300ms ease-out;
          transition: 300ms ease-out; }
  #mobileNavWrapper a {
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    border: none;
    font-size: 1.2rem;
    line-height: 4rem; }

body .absolute-cart-box {
  top: 18px;
  right: 30px; }
  body .absolute-cart-box .sqs-pill-shopping-cart-content {
    min-width: 0;
    font-weight: 600;
    font-family: "leitura-news", serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.8rem;
    background: transparent;
    box-shadow: none;
    color: #111;
    padding: 0; }
    body .absolute-cart-box .sqs-pill-shopping-cart-content:hover {
      color: #111 !important; }
    body .absolute-cart-box .sqs-pill-shopping-cart-content .icon,
    body .absolute-cart-box .sqs-pill-shopping-cart-content .subtotal,
    body .absolute-cart-box .sqs-pill-shopping-cart-content .suffix {
      display: none; }
    body .absolute-cart-box .sqs-pill-shopping-cart-content .details {
      text-transform: uppercase;
      letter-spacing: 0.1em; }

@media only screen and (max-width: 700px) {
  .absolute-cart-box {
    bottom: none;
    left: none;
    top: none; }

  .sqs-pill-shopping-cart {
    position: fixed;
    bottom: auto !important;
    left: auto !important;
    top: 18px;
    width: auto;
    right: 30px; } }
@media (max-width: 600px) {
  .absolute-cart-box {
    display: none; } }
.mobile-nav-active #nav-toggle span,
.mobile-nav-active #nav-toggle span:before,
.mobile-nav-active #nav-toggle span:after {
  background: white; }
.mobile-nav-active #nav-toggle span {
  background-color: transparent; }
  .mobile-nav-active #nav-toggle span:before, .mobile-nav-active #nav-toggle span:after {
    top: 0; }
  .mobile-nav-active #nav-toggle span:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .mobile-nav-active #nav-toggle span:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
.mobile-nav-active #mobile-overlay {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }
.mobile-nav-active #mobileNavWrapper {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

@media(max-width:600px) {
  #nav-toggle {
    display: block;
    opacity: 1; }

  .main-header {
    position: fixed; }

  .sm-logo {
    position: absolute; }

  .main-header #mainNavWrapper,
  .custom-cart {
    display: none; }

  #mobileNavWrapper {
    display: block; } }
.home-logo {
  position: fixed;
  left: 30%;
  width: 40%;
  top: 40%;
  border: none;
  padding: 0;
  z-index: 200; }
  .home-logo svg {
    height: 100%;
    width: 100%; }

.homepage .sm-logo {
  display: none; }
.homepage .custom-cart {
  display: none; }

@media (max-width: 600px) {
  .homepage .main-header {
    display: none; } }
#scene canvas {
  position: relative;
  z-index: 1; }

.image-group {
  position: relative;
  margin: 200px auto 300px;
  height: auto;
  width: 90%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }
  .image-group .group-main {
    position: relative;
    width: 60%;
    z-index: 100; }
    .image-group .group-main img {
      width: 100%; }
  .image-group .group-alt {
    position: relative;
    z-index: 99;
    top: 50%;
    left: 50%;
    width: 30%; }
    .image-group .group-alt img {
      max-width: 100%; }

@media(max-width:1024px) {
  .collection-portfolio #siteWrapper {
    margin: 100px auto;
    width: 100%;
    max-width: 100%; }
  .collection-portfolio .content {
    padding: 100px 0 20px; } }
#productGallery {
  position: relative;
  z-index: 1; }

.collection-editions #siteWrapper {
  margin: 0 auto 100px;
  width: 100%;
  max-width: 100%; }
.collection-editions .banner-thumbnail-wrapper img {
  width: 100%; }

.view-item.collection-editions #siteWrapper {
  margin: 150px auto;
  width: 90%;
  max-width: 1700px; }
.view-item .banner-thumbnail-wrapper {
  display: none; }

#productDetails .product-title {
  font-size: 2.5rem;
  margin: 0; }

#productDetails .product-price {
  font-size: 1.3rem; }

.quantity-label {
  display: none; }

#productDetails input {
  padding: 10px;
  border: 1px solid #111;
  width: auto; }

.sqs-add-to-cart-button-wrapper {
  margin-top: 30px; }

#productList {
  max-width: 1100px;
  margin: 0 auto; }
  #productList a, #productList product {
    border: none; }

#productList .product {
  overflow: visible !important; }

#productNav a .meta-font {
  color: #999; }

.editions-description {
  text-align: center;
  margin: 50px auto;
  max-width: 500px;
  width: 90%; }

body:not(.button-style-default).button-style-outline .sqs-editable-button,
body:not(.button-style-default).button-style-outline .sqs-editable-button-style {
  border-width: 1px !important; }
  body:not(.button-style-default).button-style-outline .sqs-editable-button:hover,
  body:not(.button-style-default).button-style-outline .sqs-editable-button-style:hover {
    background: #111;
    -webkit-font-smoothing: antialiased; }

.product-mark .meta-font,
.ss-social-button .meta-font,
.sqs-simple-like .like-count .meta-font,
.entry-comments .meta-font,
.sqs-disqus-comment-link .meta-font {
  font-size: 0.825em; }

.collection-type-products.show-category-navigation .filter-heading.filter-by-category {
  display: none; }

.collection-type-products #productNav {
  display: block;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  font-size: 0.7rem;
  text-transform: uppercase;
  margin: 0;
  z-index: 100;
  padding: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  border-top: 2px solid; }
  .collection-type-products #productNav a {
    border: none; }

.custom-cart {
  position: fixed;
  top: 10px;
  opacity: 1; }
  .custom-cart .font-smoothing {
    color: black;
    visibility: visible; }
  .custom-cart .nav-font {
    font-size: 13px;
    letter-spacing: 1px;
    z-index: 1101; }
  .custom-cart .sqs-cart-quantity {
    display: inline; }
  .custom-cart a,
  .custom-cart a:visited {
    display: block;
    color: black;
    padding: 12px;
    white-space: nowrap;
    line-height: 1em; }

.no-touch .product-list-titles-overlay #productList .product .product-overlay {
  top: auto;
  height: 60px;
  bottom: -25px; }

#productList .product:hover .product-image img {
  opacity: 1 !important; }

.no-touch .product-list-titles-overlay #productList .product .product-overlay {
  opacity: 1 !important; }

.no-touch .product-list-titles-overlay #productList .product .product-meta {
  opacity: 1 !important;
  top: 0;
  bottom: 0;
  margin-top: 0 !important; }

.custom-cart.empty {
  opacity: 0;
  top: -10px;
  visibility: hidden; }

.yui3-lightbox2 .yui3-lightbox2-content {
  display: none !important; }

#productGallery #productSlideshow .slide {
  cursor: default !important; }

.sqs-shopping-cart-wrapper {
  max-width: 1000px;
  margin: 0 auto; }
  .sqs-shopping-cart-wrapper h2 {
    font-size: 1.5rem;
    margin-bottom: 30px; }

.sqs-fullpage-shopping-cart-content .cart-container table thead td {
  font-size: 1rem;
  font-weight: 400; }

#confirmed-page {
  text-align: center;
  max-width: 500px;
  margin: 0 auto; }

@media only screen and (max-width: 700px) {
  .product-meta {
    text-align: center; } }
.sqs-layout .sqs-col-12 .html-block {
  max-width: 100% !important; }

.collection-type-blog article header a:hover {
  color: #111; }

.collection-type-blog .main-header {
  height: 55px;
  background: white;
  border-bottom: 2px solid; }
  .collection-type-blog .main-header a:hover {
    color: #111; }
.collection-type-blog #siteWrapper {
  max-width: 100%;
  width: 100%; }
.collection-type-blog #page {
  width: auto;
  margin: auto;
  max-width: 90%;
  padding: 100px 0; }
.collection-type-blog #content {
  width: 100%; }
.collection-type-blog article {
  margin-bottom: 100px;
  padding-bottom: 100px;
  border-bottom: 2px solid; }
  .collection-type-blog article:last-child {
    border-bottom: 0; }
  .collection-type-blog article header {
    text-align: center;
    margin-bottom: 70px;
    position: relative; }
    .collection-type-blog article header:after {
      content: "";
      position: absolute;
      bottom: -30px;
      width: 100px;
      left: 50%;
      margin-left: -50px;
      height: 2px;
      background: #111; }
    .collection-type-blog article header a {
      border: none; }
    .collection-type-blog article header .meta-below-title {
      font-size: 0.8rem; }
  .collection-type-blog article header,
  .collection-type-blog article footer,
  .collection-type-blog article .excerpt-content,
  .collection-type-blog article .sqs-layout .sqs-col-12 .html-block,
  .collection-type-blog article .sqs-layout .sqs-col-12 .markdown-block,
  .collection-type-blog article .p-comment {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto; }
  .collection-type-blog article footer {
    text-align: center;
    margin-top: 10px;
    font-size: 0.8rem; }
.collection-type-blog .sqs-simple-like {
  margin-right: 15px; }
.collection-type-blog figcaption {
  display: none; }

.collection-blog.view-list #siteWrapper {
  max-width: 1700px; }

.author-profile .border-box {
  display: none;
  max-width: 36em;
  margin: 0 auto;
  padding: 30px; }

.author-profile-image .border-box {
  width: 180px;
  margin: 0 auto; }
  .author-profile-image .border-box > img {
    max-width: 100%; }

.author-profile-content {
  max-width: 420px;
  margin: 24px auto;
  text-align: center; }

.author-profile-name {
  margin-top: 0; }
  .author-profile-name a, .author-profile-name a:hover, .author-profile-name a:active {
    color: #111; }

.author-profile-location .meta-font {
  color: #999; }

.author-profile-name,
.author-profile-location,
.author-profile-bio {
  margin: 16px 0; }

.view-list .filter-heading .border-box {
  text-align: center;
  max-width: 1500px;
  margin: 0 auto -30px;
  padding: 30px 30px 0; }
  .view-list .filter-heading .border-box span,
  .view-list .filter-heading .border-box span:after {
    content: "×";
    padding-left: 1em; }
  .view-list .filter-heading .border-box a .nav-font {
    color: #111;
    text-decoration: none;
    padding: 0.5em 0;
    border-bottom: 2px solid #111; }
.view-list:not(.collection-type-blog) .filter-heading {
  display: none; }
.view-list .entry + .entry {
  margin-top: 100px; }
.view-list .excerpt-thumb {
  text-align: center;
  margin-bottom: 3em; }
  .view-list .excerpt-thumb a {
    display: block; }
  .view-list .excerpt-thumb img {
    max-width: 100%;
    height: auto; }
.view-list .p-summary p:first-child {
  margin-top: 0; }
.view-list .entry-content {
  overflow: hidden; }

.view-item .blog-item .p-comment {
  max-width: 36em;
  margin-right: auto;
  margin-left: auto; }

.entry-dateline,
.entry-byline,
.entry-morefrom {
  display: inline; }

.item-meta .meta-font,
.meta-above-title .meta-font,
.meta-below-title .meta-font,
.meta-below-content .meta-font,
.eventitem-backlink .meta-font,
.eventitem-column-meta .meta-font {
  color: #111; }

.meta-above-title,
.meta-below-title {
  margin-bottom: 1em; }

.sqs-block.image-block .image-caption-wrapper p,
.video-caption {
  font-size: 0.825em;
  color: #111; }

.entry-title {
  margin: 0 0 25px 0; }

.entry-title-passthrough:after {
  content: "➝";
  font: normal 0.9em sans-serif; }

.entry-more-link {
  margin-bottom: 0; }

.entry-more-link a:before {
  content: "Read More"; }

.entry-more-link a:after {
  content: " ➝";
  font: normal 0.9em sans-serif; }

.entry-footer {
  line-height: 1.25em; }

.entry-tags,
.entry-source {
  margin-top: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.meta-below-content {
  display: none; }

.entry-actions {
  margin-top: 1.5em; }
  .entry-actions .entry-comments,
  .entry-actions .sqs-disqus-comment-link {
    display: inline-block;
    margin-right: 1em;
    text-decoration: none; }
    .entry-actions .entry-comments:before,
    .entry-actions .sqs-disqus-comment-link:before {
      margin-right: 0.2em;
      position: relative;
      top: 0.12em;
      font-size: 1.2em;
      width: auto;
      height: auto;
      line-height: inherit;
      text-align: left;
      vertical-align: initial; }

.pagination {
  text-align: center;
  margin-top: 100px;
  display: table;
  width: 100%;
  font-family: "proxima-nova", sans-serif;
  font-weight: 600; }
  .pagination:before, .pagination:after {
    content: " ";
    display: table; }
  .pagination:after {
    clear: both; }
  .pagination > div .border-box {
    display: table-cell;
    width: 50%;
    padding: 0 0.5em;
    font-size: 0; }
  .pagination > div a {
    font-size: initial;
    line-height: 1.3em;
    display: block;
    color: #111;
    white-space: nowrap; }
  .pagination > div span {
    display: inline-block;
    width: auto;
    white-space: normal;
    vertical-align: middle; }
  .pagination .newer {
    float: left; }
  .pagination .older {
    float: right; }

.hide-entry-author:not(.meta-priority-author) .entry-byline {
  display: none; }

.hide-list-entry-footer.view-list .entry-footer {
  display: none; }

.meta-priority-date .meta-above-title > div:not(.entry-dateline),
.meta-priority-date .item-meta > div:not(.entry-dateline) {
  display: none; }
.meta-priority-date .meta-below-title > .entry-dateline,
.meta-priority-date .meta-below-content > .entry-dateline {
  display: none; }
.meta-priority-date:not(.hide-entry-author) .meta-below-title .entry-byline + .entry-morefrom:before,
.meta-priority-date:not(.hide-entry-author) .meta-below-content .entry-byline + .entry-morefrom:before {
  content: "·";
  padding: 0 0.5em; }

.meta-priority-category .meta-above-title > div:not(.entry-morefrom),
.meta-priority-category .item-meta > div:not(.entry-morefrom) {
  display: none; }
.meta-priority-category .meta-below-title > .entry-morefrom,
.meta-priority-category .meta-below-content > .entry-morefrom {
  display: none; }
.meta-priority-category .meta-below-title entry-dateline + .entry-byline:before,
.meta-priority-category .meta-below-content entry-dateline + .entry-byline:before {
  content: "·";
  padding: 0 0.5em; }

.meta-priority-author .meta-above-title > div:not(.entry-byline),
.meta-priority-author .item-meta > div:not(.entry-byline) {
  display: none; }
.meta-priority-author .meta-below-title > .entry-byline,
.meta-priority-author .meta-below-content > .entry-byline {
  display: none; }
.meta-priority-author .meta-below-title .entry-morefrom:before,
.meta-priority-author .meta-below-content .entry-morefrom:before {
  content: "·";
  padding: 0 0.5em; }

.meta-priority-none .meta-above-title,
.meta-priority-none .item-meta {
  display: none; }
.meta-priority-none .meta-below-title .entry-byline:before,
.meta-priority-none .meta-below-title .entry-morefrom:before,
.meta-priority-none .meta-below-content .entry-byline:before,
.meta-priority-none .meta-below-content .entry-morefrom:before {
  content: "·";
  padding: 0 0.5em; }

.blog-item-wrapper {
  display: block;
  z-index: 100;
  position: relative;
  width: 100%; }
  .blog-item-wrapper .border-box {
    margin: 0 auto;
    padding: 30px;
    text-align: center; }

@media (max-width: 43rem) {
  .collection-type-blog #page {
    padding: 0;
    max-width: 100%; }

  .sqs-block-html {
    margin: 0 20px !important; }

  .sqs-layout:not(.sqs-editing) .sqs-row + .sqs-row:not(:last-child) .sqs-block:last-child {
    padding-bottom: 0 !important; }

  .sqs-layout:not(.sqs-editing) .sqs-block + .sqs-row .sqs-block:not(.float):first-child {
    padding-bottom: 0 !important; } }
